h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    margin-left: 5%;
    font-size: 36px;
  }
  
  h4 {
    font-size: 24px;
    text-align: center;
  }
  
  .card-text {
    padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: #f8f9fa;
  }
  
  p {
    margin-left: 5%;
  }
  
  .section {
    text-decoration: none;
  }
  
  .card {
  text-decoration: none;
  }
  
  
  
  img {
    padding: 5px;
    max-height: 100%;
    max-width: 100%;
  }
  
  .row {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
    }
   